/* InfoBox */

.infoBox {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  color: #444;
  font-family: "Arial";
  margin: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  padding: 10px 25px 10px 25px;
}

.infoBox__title {
  font-size: 42px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.infoBox__subtitle {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.infoBox__subtitle a:visited,
.infoBox__subtitle a:link {
  color: #2a5db0;
}
.infoBox__subtitle a:hover {
  color: #6f99dc;
}
.infoBox__subtitle a:active {
  color: #98b6e6;
}

@media only screen and (max-width: 768px) {
  .infoBox {
    right: 50px;
    padding-top: 0;
  }

  .infoBox__title {
    font-size: 27px;
  }

  .infoBox__subtitle {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    color: #999;
  }
}

/* Map */

.mapContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
